.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: rgb(230,230,230);
  height: calc(100vh - 40px);
  margin: 20px;
}
.span-col-3{grid-column: span 3 / auto;}

.logo {
  height: 100px;
}